[Unit]
Description=GPUBOOT: apply power saving features . . .
After=basic.target

[Service]
User=root
Type=simple
ExecStart=/sbin/gpuboot

[Install]
WantedBy=basic.target
