[Unit]
Description=GPURESUME: Init GPU . . .
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
User=root
Type=simple
ExecStart=/sbin/gpuresume

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target
